* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(3, 3, 3);
    font-family: var(--generic-font)
}

:root {
    --section-margin: 2rem;
    --main-theme-color: rgb(166, 119, 79);
    --sections-color: rgb(235, 240, 240);
    --generic-font: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
    display: flex;
}

img {
    min-height: 100vh;
    width: 100%;
}

body > section:first-child {
    position: relative;
}

body > section {
    background-color: var(--sections-color);
    display: flex;
    flex: 1;
    flex-direction: column;
}  

p {
    font-size: 1.65rem;
    line-height: 2rem;
}

h2 {
    font-size: 2.3rem;
    font-weight: 400;
}

.sign-up > section {
    flex: 1;
    padding: 2rem 3rem;
}

.sign-up > section.form {
    flex: 2;
    background-color: whitesmoke;
    box-shadow: 0px 2px 10px rgb(182, 182, 182);
}

button {
    appearance: none;
    background-color: transparent;
    border: 2px solid var(--main-theme-color);
    color: var(--main-theme-color);
    margin: 2rem auto;
    padding: 0.4em 1.8em;
    font-size: 1.4rem;
    font-weight: bold;
}

.credit {
    font-weight: bold;
    position: absolute;
    /* width: 100%; - this works too!*/
    left: 0;
    right: 0;
    bottom: 10px;
    color: white;
    text-align: center;
}

a {
    color: white;
}