* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: var(--generic-font)
}

:root {
    --section-margin: 2rem;
    --main-theme-color: rgb(166, 119, 79);
    --main-section-color: rgb(102, 156, 164);
    --generic-font: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
    display: flex;
}

img {
    height: 100vh;
    width: 100%;
}

body > section {
    background-color: var(--main-section-color);
    display: flex;
    flex-direction: column;
}  

p {
    font-family: serif;
}

p:first-child {
    font-size: 1.65rem;
}

h2 {
    font-size: 2.3rem;
    font-weight: 400;
}

.sign-up {
    
}

.sign-up > section {
    flex: 1;
}

button {
    appearance: none;
    background-color: transparent;
    border: 2px solid var(--main-theme-color);
    color: var(--main-theme-color);
    margin: 2rem auto;
    padding: 0.6em 6em;
    font-size: 1.4rem;
    font-weight: bold;
}