* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(3, 3, 3);
    font-family: var(--generic-font)
}

:root {
    --section-margin: 2rem;
    --main-theme-color: rgb(166, 119, 79);
    --sections-color: rgb(235, 240, 240);
    --generic-font: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --uniform-padding: 3rem;
    --hover-displacement: -0.18rem;
}

body {
    display: flex;
    min-height: 100vh;
}

img {
    min-height: 100%;
    width: 100%;
}

body > section:first-child {
    position: relative;
}

body > section, body > form {
    background-color: var(--sections-color);
    display: flex;
    flex: 1;
    flex-direction: column;
}  

.desc {
    line-height: 2rem;
    margin-top: 3rem;
}

.desc, .desc + p {
    font-size: 1.65rem;
}

h2 {
    font-size: 2.3rem;
    font-weight: 400;
}

.sign-up > section {
    flex: 1;
    padding-left: var(--uniform-padding);
    padding-right: var(--uniform-padding);
}

.sign-up > section:nth-child(1) {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.sign-up > section:nth-child(2) {
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.sign-up > section:nth-child(3) {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.sign-up > section.form {
    background-color: whitesmoke;
    box-shadow: 0px 2px 10px rgb(182, 182, 182);
}

.flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.flex-wrapper > div {
    margin: 0.5rem 2.7rem 0.5rem 0rem;
}

.sign-up > section.form > div {
    font-size: 1rem;
}

input {
    appearance: none;
    width: 18rem;
    height: 2rem;
    padding: 0.5rem 0.8rem;
    font-size: inherit;
    border: none;
}

label {
    display: block;
    text-transform: uppercase;
}

button {
    appearance: none;
    background-color: transparent;
    border: 2px solid var(--main-theme-color);
    color: var(--main-theme-color);
    padding: 0.4em 1.8em;
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 1.4rem;
    transition: transform 0.2s ease-out;
}

button:hover {
    background-color: var(--main-theme-color);
    color: black;
}

button:active {
    transform: scale(0.95);
}

.credit {
    font-weight: bold;
    position: absolute;
    /* width: 100%; - this works too!*/
    left: 0;
    right: 0;
    bottom: 10px;
    color: white;
    text-align: center;
}

a {
    color: white;
}

footer {
    margin: auto;
    padding: 1rem 0rem;
    color: grey;
}

footer i {
    color: grey;
    position: relative;
}

footer i:hover {
    top: var(--hover-displacement);
}

p > a {
    color: var(--main-theme-color);
}

p > a:hover {
    position: relative;
    top: var(--hover-displacement);
}

h2 + p {
    margin-top: 2rem;
}